accelerate==1.6.0
bitsandbytes==0.42.0
datasets==3.5.0
evaluate==0.4.5
huggingface_hub==0.34.3
matplotlib==3.10.1
numpy==2.3.2
openpyxl
pandas==2.2.3
peft==0.16.0
scikit_learn==1.6.1
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
transformers==4.54.1
trl==0.19.1
wandb==0.19.10